root {
  box-sizing: border-box;
 }
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #282c34;
  height: 100vh;
}
.Table {
  width: 80vw;
  display: flex;
  align-self: center;
  flex-direction: column;
}
.Game {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}
.ShowMeaning {
  position: absolute;
  top: 40px;
}
.ShowMeaning > h2 {
  background: orange;
  color: white;
}
.ShowMeaning > p {
  background: orange;
  color: white;
}
ul {
  list-style: none;
}
.Alphabet {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 15px;
  justify-content: space-between;
  padding: 0;
}
.Letter {
  width: 50px;
  border: 2px solid white;
  font-size: 24px;
  color: white;
}
.Row {
  width: 100%;
  height: 80px;
  padding: 0;
  margin: 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}
.Cell {
  flex-basis: 0;
  border: 2px solid gray;
  text-align: center;
  font-size: 24px;
  height: 100%;
  align-self: center;
  color: white;
  margin: auto 0;
}
.Active {
  border: 2px solid orange;
}
.Green {
  background: green;
  color: black;
}
a {
  font-size: 24px;
  color: white;
}
.Yellow {
  background: yellow;
  color: black;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
